/* CSS Styles Photography website */ 

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto; 
  grid-template-rows: auto; 
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  color: black;
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  width: 155px;
  height: 210px;
  top: 50%;
  left: 2%;
  margin-top: -110px;
  margin-left: -2px;
  /* top: 10px;
  left: 10px; */
}

nav ul {
  position: absolute;
  align-items: center;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  padding: 0;
  margin: 0;
}

nav .link:hover {
  color: rgb(124, 32, 55);
  cursor: pointer;
}

#icons {
  padding: 10px;
}

.photo-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-template-rows: auto auto; 
}

.photo-container a {
  display: block;
  line-height: 0;
  outline: none;
}

#column-1 {
  grid-column-start: 1;
}

#column-2 {
  grid-column-start: 2;
}

#column-3 {
  grid-column-start: 3;
}

.column {
  grid-row-start: 1;
}

.column img {
  width: 100%;
}

#footer {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  background-color: white;
}



